[Desktop Entry]
Encoding=UTF-8
Name=Dogecoin
Comment=Dogecoin P2P Cryptocurrency
Comment[fr]=Dogecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dogecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/dogecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/dogecoin128.png
MimeType=x-scheme-handler/dogecoin;
Categories=Office;
