
# dogecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=22555
#port=44555

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=845000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=c0c0c0c0
genesis=1a91e3dace36e2be3bf030a65679fe821aa1d6ef92e7c9902eb318182c355691
input=/home/example/.dogecoin/blocks

# testnet
#netmagic=fcc1b7dc
#genesis=bb0a78264637406b6360aad926284d544d7049f45189db5664f3c4d07350559e
#input=/home/example/.dogecoin/testnet3/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
