body {
  margin-left: 0.5in;
  margin-right: 0.5in;
  background: white;
  color: black;
}

h1 {
  margin-left: -0.2in;
  font-size: 14pt;
}
h2 {
  margin-left: 0;
  font-size: 12pt;
}
h3 {
  margin-left: 0;
}
h4 {
  margin-left: 0;
}
hr {
  margin-left: 0;
}

/* Definition lists: definition term bold */
dt {
  font-weight: bold;
}

address {
  text-align: center;
}
code,samp,var {
  color: blue;
}
kbd {
  color: #600000;
}
div.note p {
  float: right;
  width: 3in;
  margin-right: 0%;
  padding: 1px;
  border: 2px solid #6060a0;
  background-color: #fffff0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
}

UL.nobullets {
  list-style-type: none;
  list-style-image: none;
  margin-left: -1em;
}

p {
  margin: 1em 0;
  padding: 0;
}

pre {
  line-height: 1.3em;
  padding: 0.4em 0 0.8em;
  margin:  0;
  border:  0 0 0 0;
  color: blue;
}

.datatable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid;
}

.datatable td,th {
  padding: 0 0.5em;
  text-align: right;
}
