<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>bitcoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>NSHumanReadableCopyright</key>
        <string>(c) 2013 Dogecoin Intergalactic</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Dogecoin</string>
	<key>CFBundleIdentifier</key>
        <string>com.dogecoin.wallet</string>
        <key>CFBundleName</key>
        <string>Dogecoin</string>
</dict>
</plist>
